version: '3.4'

services:
  db_container:
    image: database
    build: ./db
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: funcontainers
    networks:
      - webnet
  apiserver:
    image: api
    build: ./api
    ports:
      - 5000:80
    networks:
      - webnet
    links:
      - db_container
    environment:
      ConnectionStrings:MyWebApiConection: Host=db_container;Database=funcontainers;Username=postgres;Password=mysecretpassword
networks:
  webnet:
